/* Define your root variables */
:root {
    /* --background-light: #333;
    --color-light: #c5c5c5;
    --background-dark: #ffffff;
    --color-dark: #333; */
    --background-light: #ffffff;
    --color-light: #333;
    --background-dark: #333;
    --color-dark: #c5c5c5;
}

body {
    font-size: 11rem;
    font-weight: bold;
}

/* Footer styles */
/* footer {
    padding: 20px;
    text-align: center;
} */

/* Media queries for responsiveness */
/* Laptop */
@media screen and (max-width: 1024px) {
    h1 {
        font-size: 11rem; /* Adjust font size for laptop */
    }
}

/* iPad */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 7rem; /* Adjust font size for iPad */
    }
}

/* iPhone */
@media screen and (max-width: 480px) {
    h1 {
        font-size: 3rem; /* Adjust font size for iPhone */
    }
}


