/* Define your root variables */
:root {
    /* --background-light: #333;
    --color-light: #c5c5c5;
    --background-dark: #ffffff;
    --color-dark: #333; */
    --background-light: #ffffff;
    --color-light: #333;
    --background-dark: #333;
    --color-dark: #c5c5c5;
}

/* body .kevin{
    background-color: var(--background-dark);
    color: var(--color-light);
    font-size: 2rem;
} */